body {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    
}


header {
    background-color: #ffaeb9;
    width: 23%;
    height: 40px;
    position: relative;
    left: 40%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    color: #ec1346;
    margin-top: 1%;
    margin-bottom: 1%;
}

#first {
    background-color: #ffb700;
    color: #50085d;
    width: 58%;
    position: relative;
    left: 25%;
    padding-left: 1%;
    padding-bottom: 5px;

}

#targetscore {
    background-color: #dd2995;
    width: 18%;
    height: auto;
    position: relative;
    left: 25%;
    top: 15px;
    padding-left: 1%;
    color: #00ffb2;
    
}

#ourscore {
    background-color: #00ffb2;
    width: 14%;
    height: auto;
    position: relative;
    left: 45%;
    bottom: 31px;
    padding-left: 1%;
    color: #ec1346;
    
}

#second {
    background-color: #990000;
    width: 8%;
    position: relative;
    left: 61%;
    bottom: 80px;
    padding-left: 1%;
    padding-bottom: 1px;
    
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#red {
    width: 300px;
    height: 300px;

}

#blue {
    width: 300px;
    height: 300px;
    margin-left: 1%;
    margin-right: 1%;
}

#yellow {
    width: 300px;
    height: 300px;
    margin-right: 1%;
}

#green {
    width: 300px;
    height: 300px;
}

#third {
    position: relative;
    left: 23%;
    bottom: 10px;
}